# SQL @ Khan Academy

There are different kind of database but one very popular one is relational database. i.e. Storing data in a spreadsheet.

SQL is the most popular of all

***
## Create table in SQL

To create table in SQL, use `CREATE TABLE` in all caps, and the table name as you like.

Inside the round brackets you specify column names and data types. Typically, an ID column will be specified first and the type would be `INTEGER PRIMARY KEY`

Certainly you can use tabs to make it readable

> i.e.: CREATE TABLE groceries (id INTEGER PRIMARY KEY, name TEXT, quantity INTEGER);

ID can be denoted with `AUTOINCREMENT` to have the id auto filled

> i.e.: CREATE TABLE groceries (id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, quantity INTEGER);

***
## Insert data into table

Use `INSERT INTO` + table name + `VALUES` - to add values to the chosen table

The number of values must match the number of columns

>i.e.: INSERT INTO test_table VALUES (1, 'me', 3);

When the id column is set to `AUTOINCREMENT`, the values can be inserted as so:

>INSERT INTO test_table (column_1, column_2) VALUES (1, 2)

***
## Select elements

Basic:

>SELECT * FROM test_table;

Some other verbs:
Where verb option: LIKE, (>,<,=, !=), IS NULL, IN, etc.

>SELECT * FROM test_table<br>
WHERE column_a LIKE '%abc'<br>
ORDER BY column_b DESC;

>SELECT * FROM exercise_logs<br>
WHERE type IN (<br>
SELECT type FROM drs_favorites<br>
WHERE reason = "Increases cardiovascular health")

While selecting, we can use aggregation functions such as `SUM()` on chosen column:

>SELECT SUM(quantity) FROM groceries;

The verb `GROUP BY` can be added into the the query to add some information to the aggregate function. The query below will count the number of the items on each aisle:

>SELECT aisle, SUM(quantity) FROM groceries<br>
GROUP BY aisle;

`AND` and `OR` can be use to use multiple conditions in WHERE statement:

>SELECT * FROM store<br>
WHERE price < 50 AND discount = TRUE OR free_delivery = TRUE

`HAVING` verb can be added to add conditional statements on aggregated columns such as SUM(column_1):

>SELECT type, SUM(calories) AS total_calories FROM exercise_logs<br>
GROUP BY type<br>
HAVING total_calories > 150;

`COUNT` aggregate verb is used to, well count instances

>SELECT type FROM exercise_logs GROUP BY type HAVING COUNT(*) >= 2;

`CASE` verb is to create an additional column which can store conditional elements, such as results of a comparison. It goes with `WHEN` for stating conditions and `END` to end the case and give it a name with `AS`

>SELECT COUNT(*),<br>
    CASE<br>
        WHEN heart_rate > 220-30 THEN "above max"<br>
        WHEN heart_rate > ROUND(0.90 * (220-30)) THEN "above target"<br>
        WHEN heart_rate > ROUND(0.50 * (220-30)) THEN "within target"<br>
        ELSE "below target"<br>
    END AS "hr_zone"<br>
FROM exercise_logs<br>
GROUP BY hr_zone;<br>

***
## Joins

Cross Join is just pasting tables together and it will result in a table size of the product of all the table involved

>SELECT * FROM table_a, table_b;

Implicit inner join can be used by combining cross join and WHERE verb

>SELECT * FROM table_a, table_b<br>
WHERE table_a.id = table_b.id;

Explicit inner join is better by using `JOIN` and `ON`

>SELECT table_a.column_1, table_a.column_2, table_b.column_1 FROM table_a<br>
JOIN table_b<br>
ON table_a.id = table_b.id<br>
WHERE ...

Left outer join is to paste the table on the right to the table on the left and fill whatever is not available with NULL

>SELECT persons.name, hobbies.name<br>
FROM persons<br>
LEFT OUTER JOIN hobbies<br>
ON persons.id = hobbies.person_id;

Self join is to join with itself with the help of an alias

>SELECT students.first_name, students.last_name, buddies.email as buddy_email<br>
    FROM students<br>
    JOIN students buddies<br>
    ON students.buddy_id = buddies.id;

***
## Update

`UPDATE` can be used to change the content of the database. `UPDATE table_name SET column_name = new_content WHERE id = id (or some other identifier)`

> UPDATE diary_logs SET content = 'something new' WHERE id = 1

***
## Delete

`DELETE` can be used to remove the entry entirely based on identifier(s)

>DELETE FROM table_name WHERE id = 1

***
## Alter

`ALTER TABLE` can be used to add columns to an existing table

>ALTER TABLE diary_logs ADD emotion TEXT default "unknown";

***
## Drop

`DROP` is used to delete tables

>DROP table_1